.navbar {
    margin-bottom: 20px;
    background-color: #f8f9fa;
  }
  
  .navbar-brand {
    color: #007bff !important;
    font-weight: bold;
  }
  
  .navbar-nav li a {
    color: #343a40 !important;
  }
  
  .dropdown-menu {
    background-color: #f8f9fa;
  }
  
  .dropdown-menu li a {
    color: #343a40 !important;
  }
  
  .dropdown-menu li a:hover {
    background-color: #007bff;
    color: #fff !important;
  }
  