/* Form Styling */
.panel {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
  }
  
  /* Buttons */
  .btn-success {
    background-color: #007bff; 
    border-color: #007bff;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    
  }
  
  .btn-success:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .btn-danger {
    background-color: #dc3545; 
    border-color: #dc3545;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
  }
  
  .btn-danger:hover {
    background-color: #b02a37;
    transform: scale(1.05);
  }
  
  /* Input Fields */
  .form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }