<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h2>Documents</h2>
  </div>
  <div class="panel-body">
    <div class="document-list">
      <cms-document-item 
        *ngFor="let document of documents"
        [document]="document"
        (click)="onSelectedDocument(document)">
      </cms-document-item>
    </div>
  </div>
</div> -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Documents</h2>
    <a [routerLink]="['/documents', 'new']" class="btn btn-primary add-document">Add Document</a> 
  </div>
  <div class="panel-body">
    <div class="document-grid">
      <div *ngFor="let document of documents" class="document-card">
        <div class="document-title">
          <a [routerLink]="['/documents', document.id]" class="document-link">{{ document.name }}</a> 
        </div>
        <div class="document-body">
          
        </div>
      </div>
    </div>
  </div>
</div>