<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h2>Documents</h2>
  </div>
  <div class="panel-body">
    <div class="document-list">
      <cms-document-item 
        *ngFor="let document of documents"
        [document]="document"
        (click)="onSelectedDocument(document)">
      </cms-document-item>
    </div>
  </div>
</div> -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Documents</h2>
  </div>
  <div class="panel-body">
    <div class="document-list">
      
      
      <div *ngFor="let document of documents; let i = index">
        
        <cms-document-item 
          [document]="document"
          (click)="onSelectedDocument(document)">
        </cms-document-item>
      </div>
    </div>
  </div>
</div>